<mat-toolbar>
    <span class="nav-component hover" (click)="nagivateToHome()">Páo củ cải</span>
    <span class="spacer"></span>
    <span *ngIf="!(user$ | async)">
        <button mat-button [routerLink]="['login']" class="nav-component hide" (click)="login()">Đăng Kí</button>
        <button mat-flat-button color="primary" class="nav-component hide" (click)="login()">Đăng Nhập</button>
    </span>
    <button mat-icon-button class="nav-component">
        <mat-icon>shopping_cart</mat-icon>
    </button>
    <button mat-icon-button class="nav-component" [routerLink]="['home']">
        <mat-icon>home</mat-icon>
    </button>
    <span *ngIf="(user$ | async)" class="center">
        <button mat-stroked-button color="primary" class="nav-component hide" (click)="logout()">Đăng xuất</button>
        <img class="profile nav-component" [src]="user?.photoURL" alt="profile photo">
    </span>
</mat-toolbar>