<div class="article-container">
    <app-article class="article" *ngFor="let article of (articles$ | async)?.articles"
        [article]="article"></app-article>
    <div class="page-nav">
        <button mat-icon-button [disabled]="currentPage <= 1" (click)="loadPreviousPage()">
            <mat-icon>chevron_left</mat-icon>
        </button>
        <span>
            {{currentPage}}
        </span>
        <button mat-icon-button [disabled]="(articles$ | async)?.articles!.length < 10" (click)="loadNextPage()">
            <mat-icon>chevron_right</mat-icon>
        </button>
    </div>
</div>